<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi voluptatum
      maxime ex sit odit alias quod impedit blanditiis consequuntur molestias?
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi voluptatum
      maxime ex sit odit alias quod impedit blanditiis consequuntur molestias?
    </p>
  </div>
</section>
